{% load cms_tags menu_tags i18n%}
<div id="navbar" class="w3-red navbar">
    <div class="navbar w3-bar">
        <a href="/" class="navbar-item w3-bar-item w3-button w3-cyan show-me">{%trans 'Activities' %}</a>
{% for child in children %}
	{% if child.children %}
    <div class="navbar-item w3-dropdown-hover">
          <button class="w3-button w3-hover-cyan">{{child.get_menu_title}}</button>
          <div class="w3-dropdown-content w3-bar-block">
              {% for gc in child.children %}
            <a href="{{gc.get_absolute_url}}" class="w3-bar-item" >{{gc.get_menu_title}}</a>
              {% endfor %}
          </div>
    </div>
    {% else %}
    	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="navbar-item w3-bar-item w3-button w3-hover-cyan">{{ child.get_menu_title }}</a>
	{% endif %}
{% endfor %}
    </div>
</div>