{% load cms_tags menu_tags sekizai_tags staticfiles i18n%}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <style type="text/css"></style>
        {% addtoblock "css" %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% endaddtoblock %}
        {% render_block "css" %}
        <script src="https://use.fontawesome.com/ba69b74f60.js"></script>
    </head>
    <body>
        {% cms_toolbar %}
      <div id="page" class="w3-block w3-mobile w3-light-grey">
        {% static_placeholder "contact_bar" %}
        {% placeholder "carousel" %}
        {% static_placeholder "navbar" %}
        {% show_menu 1 100 100 100%}
        <div id="content" class="w3-container w3-white w3-center" >
          <!-- CONTENT -->
          {% block content %}{% endblock %}
        </div>
        
        <footer class=" w3-panel w3-cyan" >
        {% static_placeholder 'footer' %}
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% addtoblock "js" %}
        <script src="{% static 'js/script.js' %}"></script>
        {% endaddtoblock %}
        {% render_block "js" %}
      </div>
    </body>
</html>
