{% load staticfiles cms_tags i18n menu_tags%}
<div id="navbar" class="w3-red navbar">
    <div class="navbar w3-bar">
        <a href="/" class="navbar-item w3-bar-item w3-button w3-cyan show-me">{%trans 'Activities' %}</a>
        {% for cat in categories %}
        <div class="navbar-item w3-dropdown-hover">
          <button class="w3-button w3-hover-cyan">{{cat}}</button>
          <div class="w3-dropdown-content w3-bar-block">
            {% for data in sorted_pages.cat %}
              <a href="{{{ data.link }}" class="w3-bar-item" ><p>{{ data.name }}</p></a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        
		<button id="navbar-burger" class="w3-bar-item navbar-burger w3-hover-cyan">
			<i class="fa fa-bars"></i>
		</button>
    </div>
</div>